.custom-carousel {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: 65vh;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
  padding: 0 0 1.5rem;
}

.custom-carousel::-webkit-scrollbar {
  background-color: rgba(45, 45, 45, 0.4);
  border-radius: 0.8rem;
  height: 0.5rem;
  overflow: visible;
}

.custom-carousel::-webkit-scrollbar-thumb {
  background-color: rgb(23, 23, 23);
  border-radius: 0.8rem;
}
